body{
    background-color: blueviolet;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(9, 5fr); /*probar cambiar el 9 por 2 y inspecionar con grid box en firefox*/
    grid-auto-rows: minmax(100px, auto);
    gap: 1px;
    background-color: #b89556;
    grid-template-areas:
      "hd hd hd hd   hd   hd   hd   hd   hd"
      "sd sd sd main main main main main main"
      "ft ft ft ft   ft   ft   ft   ft   ft";
}


.header {
    grid-area: hd;
}
.footer {
    grid-area: ft;
}
.content {
    grid-area: main;
}
.sidebar {
    grid-area: sd;
}
